$nav-height: 60px;

.nav {
  height: $nav-height;
  background: #fff;
  overflow: hidden;

  &__title {
    display: inline-block;
    width: 25%;
    line-height: $nav-height;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    user-select: none;
    cursor: pointer;
    font-size: 22px;

    &:hover {
      color: $primary-color;
    }
  }

  &__search {
    display: inline-block;
    width: 500px;
  }

  &__user {
    display: inline-block;
    float: right;
  }
}
